# Plugin SDK
out/
gen/
*.hsp
*.iml
*.ipr
*.iws
idea-flex.skeleton
JFlex.jar
jflex*.jar
KLexer.java
q-intellij-plugin.zip
q-intellij-plugin.jar
_KLexer.flex

# IntelliJ settings
.idea/

# Gradle directories
build/
.gradle/

# Other
.DS_Store
*~
